.round-container {
    height: 2.4rem;
    width: 2.4rem;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 28px;
}
.inner-color {
    background-color: #664de5;
    color: aliceblue !important;
}